test-workflow-v2.json
{
  "name": "Customer Notification Flow v2",
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "customer-notify-v2",
        "httpMethod": "POST"
      }
    },
    {
      "id": "validate-1",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [400, 300],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.email }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "set-1",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [550, 200],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "customerName",
              "value": "={{ $json.name || 'Valued Customer' }}"
            },
            {
              "name": "customerEmail",
              "value": "={{ $json.email }}"
            },
            {
              "name": "signupDate",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      }
    },
    {
      "id": "error-1",
      "name": "Handle Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [550, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'Email is required', status: 400 } }}"
      }
    },
    {
      "id": "http-1",
      "name": "Send to CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [750, 100],
      "parameters": {
        "method": "POST",
        "url": "https://api.crm.example.com/customers",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "name", "value": "={{ $json.customerName }}" },
            { "name": "email", "value": "={{ $json.customerEmail }}" },
            { "name": "created_at", "value": "={{ $json.signupDate }}" }
          ]
        }
      }
    },
    {
      "id": "email-1",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [750, 250],
      "parameters": {
        "fromEmail": "hello@example.com",
        "toEmail": "={{ $json.customerEmail }}",
        "subject": "Welcome {{ $json.customerName }}!",
        "html": "<h1>Welcome, {{ $json.customerName }}!</h1><p>Thank you for joining us.</p><p>Best regards,<br>The Team</p>"
      }
    },
    {
      "id": "slack-1",
      "name": "Notify Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [950, 175],
      "parameters": {
        "channel": "#new-customers",
        "text": "🎉 New customer: {{ $json.customerName }} ({{ $json.customerEmail }})\n📅 Signed up: {{ $json.signupDate }}"
      }
    },
    {
      "id": "respond-1",
      "name": "Send Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 175],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Customer registered successfully' } }}"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]]
    },
    "Validate Input": {
      "main": [
        [{ "node": "Prepare Data", "type": "main", "index": 0 }],
        [{ "node": "Handle Error", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          { "node": "Send to CRM", "type": "main", "index": 0 },
          { "node": "Send Welcome Email", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send to CRM": {
      "main": [[{ "node": "Notify Team", "type": "main", "index": 0 }]]
    },
    "Send Welcome Email": {
      "main": [[{ "node": "Notify Team", "type": "main", "index": 0 }]]
    },
    "Notify Team": {
      "main": [[{ "node": "Send Success Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": ["customer", "notification", "email", "slack", "validation"]
}

